/* 
#BDE038
#10454F
#506266
#818274
#A3AB78 */

body { 
  background-color: rgb(0, 0, 0);
  font-size: 16px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-template-rows: 1fr 1fr 3fr; */
  margin: 0 auto;
  height: 95vh;
  gap: 0.4em;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
  font-weight: bold;
}

.highlight {
  border-radius: 5px;
  background-color:#A3AB78;
  padding:0 0.4em;
  margin:0 0.2em;
}

.Result ul {
  padding: 5px 5px 5px 5px;
  margin-left: 1em;
  /* width: 50%; */
  /* border-left: 1px dotted rgb(0, 0, 0); */
  background-color:#10454F;
}

.Result li{
  background-color:#506266;
  color: white;
  transition: 0.1s ease-in-out;
}

.Result li, .Result ul {
  overflow: auto;
}

.Result li:hover{
  background-color: #BDE038;
  color: #4b4b4b;
}

li {
  border-radius: 10px;
  padding: 2em 0 0 5px;
  background-color: #506266;
  /* height: 100%; */
  margin: 0.5em;
  overflow-wrap: break-word;
}


.Header, .Information, .Result, .InputExpressionBar {
  min-height: 0px;
  border-radius: 10px;
}

.Header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #BDE038;
  color: #4b4b4b;
  padding-left: 0.5em;
}

.Header p {
  margin: 0;
}

.Information {
  grid-column: 1;
  grid-row: 2;
  /* border-right: 2px solid #d8d8d8; */
  /* border-bottom: 2px solid #BDE038; */
  padding: 0.5em;
  background-color: #10454F;
  color: white;
  overflow-y: auto;
}

.InputExpressionBar {
  grid-column: 2 / 3;
  grid-row: 3;
  width: 100%;
}


input {
  display: block;
  height: 95%;
  padding: 5px;
  width: calc(100% - 15px);
  background-color: #506266;
  color: white;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}


.Result {
  grid-column: 2;
  grid-row: 2;
  padding: 1em;
  background-color: #10454F;
  color: white;
  overflow-y: scroll;
}


.Tree {
  list-style-type: none;
}